@font-face {
    font-family: 'Oswald'; /*a name to be used later*/
    src: url('../assets/fonts/Oswald.ttf') format('truetype'); /*URL to font*/
}

input {
    font-size: 30px;
    font-family: "Oswald";
    text-align: center;
}