@font-face {
    font-family: 'Action Comics'; /*a name to be used later*/
    src: url('../assets/fonts/action_comics.ttf') format('truetype'); /*URL to font*/
}

@font-face {
    font-family: 'Oswald'; /*a name to be used later*/
    src: url('../assets/fonts/Oswald.ttf') format('truetype'); /*URL to font*/
}

a {
    display: inline-flexbox;
    color: #fff;
    padding: 10px;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0px;
    background: #000;
    font-family:;
    text-decoration: none;
  }
  
a:hover {
    background: #CF0A0A;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}