@font-face {
    font-family: 'Action Comics'; /*a name to be used later*/
    src: url('../assets/fonts/action_comics.ttf') format('truetype'); /*URL to font*/
}

@font-face {
    font-family: 'Oswald'; /*a name to be used later*/
    src: url('../assets/fonts/Oswald.ttf') format('truetype'); /*URL to font*/
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: 'Oswald';
    transition: 0.5s;
}

h2 {
    font-size: 50px;
    padding-left: 2%;
}
a:not(.link) {
    display: inline-flexbox;
    color: #fff;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    background: #000;
    font-family: 'Oswald';
    text-decoration: none;
  }
  
a:hover {
    background: #CF0A0A;
}

.block {
    display: inline-block;
    overflow: cover;
}

.image {
    float: left;
    display: block;
    padding-left: 50px;
    width: 30%;
}

.textBox {
    float: right;
    display: block;
    width: 60%;
    height: 10%;
    border: 3px solid red;
    margin: 40px;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    background-color: black;
}

.textBox .paragraph, .textBox a {
    color: white;
}

.textBox .paragraph {
    padding: 10px;
}

.me {
    border-radius: 30%;
    width: 32%;
    height: 30%;
    margin-top: 7%;
}

.page {
    transition: 0.5s;
    animation: fadeInAnimation 2s;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    display: block
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}

.homeImage {
    border: 5px solid red;
    height: 500px;
    width: 100%;
    object-fit: cover;
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(./../assets/homeImage.jpg);
}

.centered {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
}